.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .table {
    width: calc(100% - 226.8px);
    border-collapse: collapse;
    margin: 3cm auto;
    transform: scale(0.9);
  }
  
  .table th {
    background-color: #b4a6a6e0;
    color: rgb(103, 93, 93);
    padding: 10px;
    border: 1px solid #f5ebeb;
    font-size: 18px;
  }
  
  .table td {
    padding: 10px;
    border: 1px solid #f5ebeb;
    font-size: 18px;
    background-color: #c9c4c4;
    color: #111135;
  }
  /* SECCION DE EDICIONES FOTOGRAFICAS */
  body .images {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% );
    height: 500px;
 }
 
 body .images .image {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 8px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.1,0.1,0.1,0.1);
 }
 
 body .images .image.active {
    flex-grow: 1000;
    transform: scale(1);
    max-width: 800px;
    margin: 0;
    border-radius: 25px;
    background-size: auto 100%;
 }
 
 @media screen and (max-width:718px){
    body .images {
        min-width: 520px;
    }
    body .images .image:nth-child(5){
        display: none;
    }
 }
 @media screen and (max-width:638px){
    body .images {
        min-width: 440px;
    }
    body .images .image:nth-child(4){
        display: none;
    }
 }
 @media screen and (max-width:538px){
    body .images {
        min-width: 360px;
    }
    body .images .image:nth-child(3){
        display: none;
    }
 }
 @media screen and (max-width:500px){
    body .images {
        min-width: 200px;
    }
    body .images .image:nth-child(2){
        display: none;
    }
 }


/* SECCION GALLERY */

.my-gallery {
  flex-wrap: wrap;
  justify-content: space-between;
 }
 
 .my-gallery .gallery-item:nth-child(odd) {
  float: left;
  width: 50%;
  margin: 0 1%;
 }
 
 .my-gallery .gallery-item:nth-child(even) {
  float: right;
  width: 50%;
  margin: 0 1%;
 }
 
 .my-gallery .gallery-item img {
  width: 70%;
  object-fit: cover;
  margin-right: 20px;
 }
 